* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    position: relative;
    text-align: center;
}

.header {
    width: 100%;
    background: #ccc;
    grid-area: header;
    /* position: fixed;
    top: 0; */
}

.footer {
    width: 100%;
    background: #ccc;
    grid-area: footer;
}

.content {
    grid-area: content;
}

.content-inner {
    padding-top: 20px;
    padding-bottom: 20px;
    background: yellow;
}

.side-1 {
    background: green;
    resize: vertical;
    overflow: auto;
    grid-area: side1;
    min-height: 50px;
    height: 220px;
}

.side-2 {
    background: red;
    resize: vertical;
    overflow: auto;
    grid-area: side2;
    height: 220px;
}

.main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.grid {
    height: 100%;
    display: grid;
    grid-template-rows: 100px 1fr 10fr 100px;
    grid-template-columns: 200px 1fr;
    grid-template-areas: "header header" "side1 content" "side2 content" "footer footer";
}

.content__flex,
.content__text {
    display: flex;
}

.content__flex {
    align-items: stretch;
    margin-bottom: 40px;
}

.content__text {
    flex-direction: column;
    justify-content: space-between;
}

.content__img {
    margin-right: 50px;
}

.content__paragraph {
    display: block;
    margin-bottom: 30px;
}

@media (max-width: 1000px) {
    .grid {
        display: flex;
        flex-direction: column;
    }
    .side-2 {
        margin-bottom: auto;
    }
    .side-1,
    .side-2 {
        height: 100px !important;
    }
    .footer,
    .header {
        height: 70px;
    }
}